.list{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: -10px;
}
.item{
    width: 300px;
    margin: 10px;
    border-radius: 24px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;    
    overflow: hidden;
    transition: transform 250ms;
}
.item:hover{
    transform: scale(1.05);
}
.poster{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.noImgTitle{
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}